<!-- templates/step1.html --> 

{% extends 'register/step_base.html' %}


{% block content %}
<div class="container">
    <h4 class="mb-3">Basic Company Information</h4>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            <div class="col-md-6 mb-3">
                <label class="form-label">Startup Name</label>
                {{ form.startup_name }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Business Registration Number</label>
                {{ form.business_registration_number }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Date of Establishment</label>
                {{ form.date_of_establishment }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Company Logo</label>
                {{ form.company_logo }}
            </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Next →</button>
        </div>
    </form>
</div>
{% endblock %}

