# Python bytecode
__pycache__/
*.py[cod]
*.pyo
**/__pycache__/

# Virtual environment
env/
venv/
.env
.env.*

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# JetBrains IDEs (e.g. PyCharm)
.idea/

# Ignore uploaded profile pictures
static/profiles

# macOS system file
.DS_Store

# Windows system file
Thumbs.db

# pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
