<!-- templates/step2.html --> 

{% extends 'register/step_base.html' %}

{% block content %}
<div class="container">
    <h4 class="mb-3">Step 2: Contact Details</h4>

    <form method="post">
        {% csrf_token %}
                
        <div class="mb-3">
            <label class="form-label">Tax Identification Number (PIN)</label>
            {{ form.tax_identification_number }}
        </div>
        <div class="row">            
            <div class="col-md-6 mb-3">
                <label class="form-label">Number of Employees</label>
                {{ form.employees }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Business Model</label>
                {{ form.business_model }}
            </div>
        </div> 
        <div class="row">            
            <div class="col-md-6 mb-3">
                <label class="form-label">Nature of Business </label>
                {{ form.nature }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Area of specialization (e.g. Frameworks, languages etc)</label>
                {{ form.specialization }}
            </div>
        </div>
        <div class="row">            
            <div class="col-md-6 mb-3">
                <label class="form-label">Sector/Industry (e.g. ICT, Health, Banking etc)</label>
                {{ form.sector }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Website (if available)</label>
                {{ form.website }}
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Company Description</label>
            {{ form.company_description }}
        </div>

        <div class="d-flex justify-content-between">
            <a href="{% url 'multi_step' step=step|add:'-1' %}" class="btn btn-secondary">← Previous</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
